.center {
  margin: auto;
  width: 60%;
  border: 3px solid rgb(206, 212, 206);
  padding: 30px;
}
.center button{
  width: 100%;
}
.center h5 , Link{
  color: rgb(4, 10, 58) !important;
}

.navbar-nav{
  text-align: right;
}

.dashhord{
  height: 900px;
  border: 2px solid blue;
  margin-top: -15px;
}
.navbar{
  border: 2px solid blue;

}
img{
  width: 50%;
}
